<div class="TBK-container">
  <div class='TBK-main-image'>
    <%= image_tag "logo-header.png" , alt: "logo" %>
  </div>

  <div class="TBK-info">
    <p class="TBK-info_text">
      Bienvenido al proyecto de prueba del SDK de Transbank para Ruby<br>En este proyecto podras
      probar las diferentes modalidades de los productos que ofrece Transbank disponibles en el SDK
    </p>
  </div>

  <div class="TBK-section-container">
    <%= image_tag "wepayplus.png" , alt: "webpayplus" , class:"adjusted-image" %>
      <div class="TBK-operation-link">
        <a href="webpayplus/create" class="TBK-operation-link_href">Webpay plus</a>
        <a href="/webpayplus/diferido/create" class="TBK-operation-link_href">Webpay plus diferido</a>
        <a href="webpayplus/mall/create" class="TBK-operation-link_href">Webpay plus mall</a>
        <a href="webpayplus/mall/diferido/create" class="TBK-operation-link_href">Webpay Plus Mall diferido</a>
      </div>
  </div>

  <div class="TBK-section-container-rev">
    <div class="TBK-operation-link">
      <a href="oneclick/mall/inscription/start" class="TBK-operation-link_href">Oneclick Mall</a>
      <a href="oneclick/mall_deferred/inscription/start" class="TBK-operation-link_href">Oneclick mall diferido</a>
    </div>
    <%= image_tag "oneclick.png" , alt: "one-click" , class:"adjusted-image" %>
  </div>

  <div class="TBK-section-container">
    <%= image_tag "txcompleta.png" , alt: "transaction complete" , class:"adjusted-image" %>
      <div class="TBK-operation-link">
        <a href="/transaccion_completa/create" class="TBK-operation-link_href">Transaccion completa</a>
        <a href="/transaccion_completa_deferred/create" class="TBK-operation-link_href">
          Transaccion completa Diferida
        </a>
        <a href="/transaccion_completa/mall/create" class="TBK-operation-link_href">Transaccion completa Mall</a>
        <a href="/transaccion_completa/mall_deferred/create" class="TBK-operation-link_href">
          Transaccion completa Mall Diferida
        </a>
      </div>
  </div>

  <div class="TBK-section-container-rev">
    <div class="TBK-operation-link">
      <a href="/patpass/patpass_comercio/inscription" class="TBK-operation-link_href">Patpass Comercio</a>
      <a href="/patpass/patpass_by_webpay/create" class="TBK-operation-link_href">Patpass by Webpay</a>
    </div>
    <%= image_tag "patpass.png" , alt: "pat pass" , class:"adjusted-image" %>
  </div>
</div>