<div class="TBK-container">
  <div class='TBK-main-image'>
    <%= image_tag "logo-header.png" , alt: "logo" %>
  </div>

  <div class="TBK-info">
    <p class="TBK-info_text">
      Bienvenido al proyecto de prueba del SDK de Transbank para Ruby<br>En este proyecto podras
      probar las diferentes modalidades de los productos que ofrece Transbank disponibles en el SDK
    </p>
  </div>

  <div class="TBK-section-container">
    <%= image_tag "wepayplus.png" , alt: "webpayplus" , class:"adjusted-image" %>
      <div class="TBK-operation-link">
        <a href="webpay_plus/create" class="TBK-operation-link_href">Webpay Plus</a>
        <a href="webpay_plus_deferred/create" class="TBK-operation-link_href">Webpay Plus Diferido</a>
        <a href="webpay_plus_mall/create" class="TBK-operation-link_href">Webpay Plus Mall</a>
        <a href="webpay_plus_mall_deferred/create" class="TBK-operation-link_href">Webpay Plus Mall Diferido</a>
      </div>
  </div>

  <div class="TBK-section-container-rev">
    <div class="TBK-operation-link">
      <a href="oneclick_mall/start" class="TBK-operation-link_href">Oneclick Mall</a>
      <a href="oneclick_mall_deferred/start" class="TBK-operation-link_href">Oneclick Mall Diferido</a>
    </div>
    <%= image_tag "oneclick.png" , alt: "one-click" , class:"adjusted-image" %>
  </div>

  <div class="TBK-section-container">
    <%= image_tag "txcompleta.png" , alt: "transaction complete" , class:"adjusted-image" %>
      <div class="TBK-operation-link">
        <a href="transaccion_completa/form" class="TBK-operation-link_href">Transacci贸n Completa</a>
        <a href="transaccion_completa_deferred/form" class="TBK-operation-link_href">
        Transacci贸n Completa Diferida
        </a>
        <a href="transaccion_completa_mall/form" class="TBK-operation-link_href">Transacci贸n Completa Mall</a>
        <a href="transaccion_completa_mall_deferred/form" class="TBK-operation-link_href">
        Transacci贸n Completa Mall Diferida
        </a>
      </div>
  </div>

  <div class="TBK-section-container-rev">
    <div class="TBK-operation-link">
      <a href="/patpass_comercio/start" class="TBK-operation-link_href">Patpass Comercio</a>
    </div>
    <%= image_tag "patpass.png" , alt: "pat pass" , class:"adjusted-image" %>
  </div>
</div>