<body>
<h1>Ejemplo Transaccion completa: Transacción creada exitosamente</h1>

<h2>Request</h2>
<%= @req %>

<h2>Response</h2>
<%= @resp.inspect %>

<h1>Consultar installments</h1>
<form class="transaccion_completa_form" action="/transaccion_completa/mall/installments" method="post" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <span>Token: <%= @resp.token %></span>
  <input type="hidden" name="token" value="<%= @resp.token %>">

  <label for="installments_number">Número de cuotas</label>
  <select id="installments_number" name="installments_number">
    <option>2</option>
    <option selected="selected">3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
  </select>

  <label for="child_commerce_code">Codigo de comercio (del hijo)</label>
  <select id="child_commerce_code" name="child_commerce_code">
    <% @req['details']['detail'].each_with_index do |det, idx| %>
      <% if idx == 0 %>
        <option value="<%= det['commerce_code'] %>" selected="true">
          <%= det['commerce_code'] %>
        </option>
      <% else %>
        <option value="<%= det['commerce_code'] %>">
          <%= det['commerce_code'] %>
        </option>
      <% end %>


    <% end %>
  </select>

  <label for="child_buy_order">Orden de compra (del hijo)</label>
  <select id="child_buy_order" name="child_buy_order">
    <% @req['details']['detail'].each_with_index do |det, idx| %>
      <% if idx == 0 %>
        <option value="<%= det['buy_order'] %>" selected="true">
          <%= det['buy_order'] %>
        </option>
      <% else %>
        <option value="<%= det['buy_order'] %>">
          <%= det['buy_order'] %>
        </option>
      <% end %>
    <% end %>
  </select>


  <button type="submit">Enviar</button>
</form>
</body>