<div class="TBK-container">
  <div   iv class="TBK-main-image">
    <%= image_tag "wepayplus.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>

	<h1>Confirmar Transacción</h1>
	<p>
		En este paso tenemos que confirmar la transacción con el objetivo de
		avisar a Transbank que hemos recibido la transacción ha sido recibida exitosamente.
		En caso de que no se confirme la transacción, ésta será reversada.
	</p>
	<div class="TBK-content-left">
		<div>
			<h3>Datos recibidos</h3>
			<p>Luego de que se termina el flujo en el formulario de pago recibiras un POST con lo siguiente</p>
		</div>

		<%= render "/webpay/partials/webp-comit-mark1" %>
	</div>

	<div class="TBK-content-right">
		<%= render "/webpay/partials/webp-comit-mark2" %>
		<div class="item-right">
			<h3>Petición</h3>
			<p>Usaras el token recibido para confirmar la transacción usando nuevamente WebpayPlus</p>
		</div>

	</div>

	<div class="TBK-content-left">
		<div>
			<h3>Respuesta</h3>
			<p>Transbank contestará con lo siguiente. Debes guardar esta información, lo único que debes validar es que response_code sea igual a cero.</p>
		</div>

		<%= render "/webpay/partials/webp-comit-mark3" %>
	</div>

	<h2>Listo !</h2>
	<p class="mb-40">Ya puedes mostrar al usuario una página de éxito de la transacción.</p>

	<h2>Otras utilidades</h2>
	<p class="mb-30">Luego de confirmada la transacción puedes Reembolsar (reversar o anular) el pago dependiendo de ciertas condiciones comerciales. También puedes consultar el estado de la transacción hasta 7 días después de realizada.</p>
	
	<div class="TBK-content-left">
		<%= link_to "CONSULTAR ESTADO", webpayplus_status_path(token: @req["token_ws"]), class:"TBK-button j-self-start" %>

		<%= form_with url: "/webpayplus/refund", data: { remote: false }, method: :post do |form| %>
			<%= form.hidden_field  :token, value: @req["token_ws"], class: "TBK-input" %>
			<%= form.label :amount, "Monto" %>
			<%= form.text_field    :amount, value:  @resp["amount"], class: "TBK-input" %>
			<%= form.submit "REEMBOLSAR", class: "TBK-button" %>
		<% end %>
	</div>

	<div>
		<%= link_to "VOLVER AL INICIO", root_path, class:"TBK-button TBK-button_blank my-40" %>
	</div>
		

</div>
