<h1>Webpay Plus Transacción Mall confirmada</h1>

<div>

  <div>
    <h2>Parametros</h2>
      <%= @req %>
    <h2>Respuesta</h2>
      <%= @resp.inspect %>
  </div>

  <h2>Obtener status de la transacción</h2>

  <form method="get" action="/webpayplus/mall/status/<%= @req['token_ws'] %>">
    <div> Token: <%= @req['token_ws'] %> </div>
    <button type="submit">Obtener status</button>
  </form>

  <h3>Transaccion 1</h3>
  <form method="post" action="/webpayplus/mall/refund" style="display: flex; flex-direction: column; width: 20%;">
    <input type="hidden" name="token" value="<%= @req['token_ws'] %>">

    <label for="buy_order_1">Buy Order</label>
    <input id="buy_order_1" name="buy_order" value="<%= @resp.details[0]['buy_order'] %>" >

    <label for="child_commerce_code_1">Commerce Code hijo</label>
    <input id="child_commerce_code_1" name="commerce_code" value="<%= @resp.details[0]['commerce_code'] %>">

    <label for="child_amount_1">Monto 1</label>
    <input id="child_amount_1" name="amount" value="<%= @resp.details[0]['amount'] %>" >

    <button type="submit">Enviar</button>
  </form>

  <h3>Transaccion 2</h3>
  <form method="post" action="/webpayplus/mall/refund" style="display:flex; flex-direction: column; width: 20%;">
    <input type="hidden" name="token" value="<%= @req['token_ws'] %>>">

    <label for="buy_order_1">Buy Order</label>
    <input id="buy_order_1" name="buy_order" value="<%= @resp.details[1]['buy_order'] %>" >

    <label for="child_commerce_code_1">Commerce Code hijo</label>
    <input id="child_commerce_code_1" name="commerce_code" value="<%= @resp.details[0]['commerce_code'] %>" >

    <label for="child_amount_1">Monto 2</label>
    <input id="child_amount_1" name="amount" value="<%= @resp.details[1]['amount'] %>"  >
    <button type="submit">Enviar</button>
  </form>

</div>
