<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "txcompleta.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h2>Consulta de cuotas</h2>
  <p>En este paso haremos una consulta de cuotas para poder saber sus condiciones. Este paso es opcional, se utiliza solo en el caso de que quieras utilizar cuotas</p>


  <div class="TBK-content-left">
		<div>
			<h3>Petici칩n</h3>
			<p>Para hacer la consulta de cuotas debemos enviar los siguientes datos.</p>
		</div>
    <%= render_markdown_highlighting("transaccion_completa_mall_deferred/partials/installments-mark1.md") %>
	</div>

  <div class="TBK-content-right">
    <%= render_markdown_highlighting("shared/resp_to_json.md") %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>Una hecha la consulta de cuotas, estos ser치n los datos de respuesta</p>
		</div>
	</div>

  <h2>Lo siguiente...</h2>
  <div class="TBK-content-left">
		<div class="aling-s-baseline">
			<h3>Confirmar transacci칩n</h3>
			<p>Para confirmar una transacci칩n debemos pasar los siguentes datos.</p>
		</div>
    
    <div class="TBK-card">
      <%= form_with url: transaccion_completa_mall_deferred_commit_path, data: { remote: false }, method: :post do |form| %>

        <%= form.label :token, "Token"%>
        <%= form.text_field :token, value: @token, class: "TBK-input" %>

        <h2>  COMERCIO HIJO 1</h2>
        
        <%= form.label "details_commerce_code_1", "Codigo de comercio (comercio hijo)"%>
        <%= form.text_field  "detail[details][][commerce_code]", value:  @details.first['commerce_code'], class: "TBK-input" %>
        
        <%= form.label "id_query_installments_1", "ID de consulta de cuotas (Opcional)"%>
        <%= form.text_field  "detail[details][][id_query_installments]", value:  @resp.first["id_query_installments"], class: "TBK-input" %>

        <%= form.label "details_buy_order_1", "ID de consulta de cuotas (Opcional)"%>
        <%= form.text_field  "detail[details][][buy_order]", value:  @details.first['buy_order'], class: "TBK-input" %>

        <% if @resp.first["deferred_periods"]&[0]%>
          <%= form.label "deferred_period_index_1", "Indice de periodo diferido (Opcional)"%>
          <%= form.select("detail[details][][deferred_period_index]", @resp.first["deferred_periods"], {selected: @resp.first["deferred_periods"][0]}, {class: "TBK-input"})%>
        <% end %>

        <%= form.label "deferred_period_index_1", "Periodo de gracia (Opcional)"%>
        <%= form.select("detail[details][][grace_period]", ["true", "false"], {selected: "false"}, {class: "TBK-input"}) %>

        <h2>  COMERCIO HIJO 2</h2>

        <%= form.label "details_commerce_code_1", "Codigo de comercio (comercio hijo)"%>
        <%= form.text_field  "detail[details][][commerce_code]", value:  @details.second['commerce_code'], class: "TBK-input" %>
        
        <%= form.label "id_query_installments_1", "ID de consulta de cuotas (Opcional)"%>
        <%= form.text_field  "detail[details][][id_query_installments]", value:  @resp.second["id_query_installments"], class: "TBK-input" %>

        <%= form.label "details_buy_order_1", "ID de consulta de cuotas (Opcional)"%>
        <%= form.text_field  "detail[details][][buy_order]", value:  @details.second['buy_order'], class: "TBK-input" %>
        
        <% if @resp.second["deferred_periods"]&[0]%>
          <%= form.label "deferred_period_index_1", "Indice de periodo diferido (Opcional)"%>
          <%= form.select("detail[details][][deferred_period_index]", @resp.second["deferred_periods"], {selected: @resp.second["deferred_periods"][0]}, {class: "TBK-input"})%>
        <% end %>

        <%= form.label "deferred_period_index_1", "Periodo de gracia (Opcional)"%>
        <%= form.select("detail[details][][grace_period]", ["true", "false"], {selected: "false"}, {class: "TBK-input"}) %>

        <%= form.submit "CONFIRMAR TRANSACCION", class: "TBK-button" %>
      <% end %>
    </div>
	</div>


</div>