<h1>Oneclick mall transacción autorizada</h1>
<h1>Request</h1>
<%= @req %>


<h1>Response</h1>
<%= @resp.inspect %>


<h2>Estado de la transacción</h2>
<form method="post" action="/oneclick/mall/status" >
  <label>Buy order: <%= @resp.buy_order %></label>
  <input type="hidden" name="buy_order" value="<%= @resp.buy_order %>">

  <button type="submit">Enviar datos</button>
</form>



<h2>Reembolso de la transacción</h2>
<form method="post" action="/oneclick/mall/refund">
  <label>Buy order padre</label>
  <input name="parent_buy_order" value="<%= @resp.buy_order %>">

  <label>Commerce code hijo</label>
  <input name="commerce_code" value="<%= @resp.details.first['commerce_code'] %>">

  <label>Buy order hijo</label>
  <input name="child_buy_order" value="<%= @resp.details.first['buy_order'] %>">

  <label>Monto</label>
  <input name="amount" value="<%= @resp.details.first['amount'] %>"/>

  <button type="submit">Enviar</button>
</form>
