<h1>Webpay Plus Transacción diferida capturada</h1>

<h2>Request</h2>
<%= @req %>

<h2> Response </h2>
<%= @resp.inspect %>

<h2>Reembolso</h2>
<form method="post" action="/webpayplus/diferido/refund">
  <input name="token" type="hidden" value=<%= @req['token'] %>>
  <input name="amount" type="hidden" value=<%= @resp["captured_amount"] %>>

  <button type="submit">Reembolsar transacción </button>

</form>

<h2>Estado de la transacción</h2>

<form method="get" action=<%= "/webpayplus/diferido/status/" + @req['token']%>>
  <input name="amount" type="hidden" value=<%= @resp["captured_amount"] %>>
  <input name="token" type="hidden" value=<%= @req['token'] %>>
  <button type="submit">Ver estado</button>

</form>
