<h1> Oneclick Mall Diferido inscripción finalizada</h1>

<h2>Request</h2>
<%= @req %>>

<h2>Respuesta</h2>
<%= @resp.inspect %>

<h2>Autorizar transacción</h2>
<form method="post" action="/oneclick/mall_deferred/authorize" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">

  <label for="username">Nombre de usuario</label>
  <input id="username" name="username" value="<%= @user_name %>"/>

  <label for="tbk_user">Codigo de usuario</label>
  <input id="tbk_user" name="tbk_user" value="<%= @resp.tbk_user %>"/>

  <label for="parent_buy_order">Orden de compra (comercio padre)</label>
  <input id="parent_buy_order" name="buy_order" value="<%='12345' + Time.now.to_i.to_s %>"/>

  <label for="details_commerce_code">Detalles de transacción</label>
  <select id="details_commerce_code" name="detail[details][][commerce_code]" value="<%= @child_commerce_codes.first %>">
    <option value="<%= @child_commerce_codes.first %>"> Comercio 1 - Codigo <%= @child_commerce_codes.first %></option>
    <option value="<%= @child_commerce_codes.second %>">Comercio 2 - Codigo <%= @child_commerce_codes.second %></option>
  </select>


  <label for="details_buy_order">Orden de compra (comercio hijo)</label>
  <input id="details_buy_order" name="detail[details][][buy_order]" value="<%= 'abcdef' + Time.zone.now.to_i.to_s %>"/>

  <label for="details_amount">Monto</label>
  <input id="details_amount" name="detail[details][][amount]" value="1000"/>

  <label for="details_installments_number">Cantidad de cuotas</label>
  <select id="details_installments_number" name="detail[details][][installments_number]" value="3">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>

  <button type="submit">Enviar</button>
</form>

<h2>Eliminar inscripcion</h2>
<form method="post" action="/oneclick/mall_deferred/inscription" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">
  <input name="_method" type="hidden" value="delete">
  <label>Nombre de usuario</label>
  <input name="user_name" value="<%= @user_name %>"/>

  <label>Id de usuario</label>
  <input name="tbk_user" value="<%= @resp.tbk_user %>"/>

  <button type="submit">Enviar</button>


</form>
