<div class="TBK-container">
  <div   iv class="TBK-main-image">
    <%= image_tag "oneclick.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>

	<h1>Autorizar transacción</h1>
	<p>
		En este paso autorizaremos una transacción en la tarjeta inscrita.
	<div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>Una vez que ya tenemos el username y el tbk_user podemos autorizar transacciones en la tarjeta inscrita.</p>
		</div>

		<%= render "/oneclick_mall_deferred/partials/onedef-auth1" %>
	</div>

	<div class="TBK-content-right">
		<%= render "/oneclick_mall_deferred/partials/onedef-auth2" %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>Una vez autorizada la transacción, estos serán los datos de respuesta</p>
		</div>
	</div>

	<h2>Casi listo !</h2>
	<p class="mb-30">
    Ya puedes mostrar al usuario una página de éxito de la transacción. Debes tener en cuenta que la transacción aun no ha sido capturada solo ha sido retenido el saldo en la tarjeta del Tarjetahabiente
  </p>
	
 
  <% @resp["details"].each do |detail| %>
    <%= form_with url: oneclick_mall_deferred_capture_path, data: { remote: false }, method: :post do |form| %>
      <%= form.hidden_field :authorization_code, value: detail['authorization_code'] %>
      <%= form.hidden_field :buy_order, value: detail['buy_order'] %>
      <%= form.hidden_field :commerce_code, value: detail['commerce_code'] %>
      <%= form.hidden_field :parent_buy_order, value: @resp["buy_order"] %>
      <%= form.label :capture_amount, "monto" %>
      <%= form.text_field :capture_amount, value: detail['amount'], class: "TBK-input" %>
      <%= form.submit "capturar", class: "TBK-button" %>
    <% end %>
  <% end %>

	<div>
		<%= link_to "VOLVER AL INICIO", root_path, class:"TBK-button TBK-button_blank my-40" %>
	</div>

</div>