<div class="TBK-container">
	<div class="TBK-main-image">
    <%= image_tag "txcompleta.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>


  <h2>Capturar Transacción diferida</h2>
  <p>
    En este paso debemos capturar la transacción para realmente
   capturar el dinero que habia sido previamente reservado al hacer la transacción
  </p>

  <div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>
        Para capturar una transacción necesitaremos el Token, Orden de compra, Código de autorización y monto a capturar. Se hace de la siguiente manera.
      </p>
		</div>
		<%= render "/transaccion_completa_deferred/partials/capture-mark1" %>
	</div>

  <div class="TBK-content-right">
  		<%= render "/shared/resp_to_json" %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>Una vez confirmada la transacción recibirás la siguiente información.</p>
		</div>
	</div>

  <h3>Otras utilidades</h3>
  <p>Luego de confirmada la transacción puedes Reembolsar (reversar o anular) el pago dependiendo de ciertas condiciones comerciales. También puedes consultar el estado de la transacción hasta 7 días después de realizada.</p>

  <div class="TBK-content-left">
		<%= link_to "CONSULTAR ESTADO", transaccion_completa_deferred_status_path(token: @req['token']), class:"TBK-button j-self-start" %>

		<%= form_with url: transaccion_completa_deferred_refund_path, data: { remote: false }, method: :post do |form| %>
			<%= form.hidden_field  :token, value: @req["token"], class: "TBK-input" %>
			<%= form.label :amount, "Monto" %>
			<%= form.text_field    :amount, value:  @amount, class: "TBK-input" %>
			<%= form.submit "REEMBOLSAR", class: "TBK-button" %>
		<% end %>
	</div>

</div>