<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "txcompleta.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h2>Crear Transacción</h2>
  <p>En este paso crearemos la transacción con el objetivo de obtener un identificador unico.</p>

  <div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>Para comenzar debes hacer una instancia de TransaccionCompleta y luego crear una transacción</p>
		</div>
    <%= render_markdown_highlighting("transaccion_completa_deferred/partials/create-mark1.md") %>
	</div>

 <div class="TBK-content-right">
    <%= render_markdown_highlighting("shared/resp_to_json.md") %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>Una vez creada la transacción, estos serán los datos de respuesta</p>
		</div>
	</div>

  <h2>Lo siguiente ...</h2>
  <p>
  Ahora que ya creamos la transacción tienes dos opciones, puedes hacer consultas de cuotas para pagar con ellas o puedes directamente confirmar la transacción
  </p>

  <div class="TBK-content-left">
    <%= form_with url: transaccion_completa_deferred_commit_path, data: { remote: false }, method: :post do |form| %>
      <%= form.hidden_field :token, value: @resp["token"] %>
      <%= form.submit "CONFIRMAR", class: "TBK-button" %>
    <% end %>
 
    <%= form_with url: transaccion_completa_deferred_installments_path, data: { remote: false }, method: :post do |form| %>
      <%= form.hidden_field :token, value: @resp["token"] %>
      <%= form.label :installments_number, "cuotas"%>
      <%= form.number_field  :installments_number, value: 2, class: "TBK-input" %>
      <%= form.submit "HACER CONSULTA DE CUOTAS", class: "TBK-button" %>
    <% end %>
  </div>

</div>
