<h1>Ejemplo Transaccion Completa Transacciòn confirmada</h1>

<h2>Request</h2>
<%= @req %>

<h2>Response</h2>
<%= @resp.inspect %>

<h1>Capturar</h1>
<form action="/transaccion_completa_deferred/capture" method='POST' class="transaccion_completa_form" style='display: flex; flex-direction:column; width:50%;font-size: 20px;'>
  <label for="token">Token</label>
  <input type="text" name="token" id="token" value="<%= @req['token'] %>">

  <label for="buy_order">Orden de Compra</label>
  <input type="text" name="buy_order" value="<%= @resp.buy_order %>">

  <label for="authorization_code">Código de autorización</label>
  <input type="text" name="authorization_code" value="<%= @resp.authorization_code %>">

  <label for="amount">Monto</label>
  <input type="text" name="amount" value="<%= @resp.amount %>">

  <button type="submit">Capturar transacción</button>
</form>

<h1>Obtener status de la transacción</h1>
<form class="transaccion_completa_form" action="/transaccion_completa_deferred/status/<%= @req['token'] %>" method="get" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">

  <button type="submit">Consultar estado</button>
</form>

<h1>Reembolso de la transacción</h1>
<form class="transaccion_completa_form" action="/transaccion_completa_deferred/refund" method="post" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">

  <label for="token">Token</label>
  <input name="token" id="token" value="<%= @req['token'] %>">

  <label for="amount">Monto</label>
  <input name="amount" id="amount" value="<%= @resp.amount %>">


  <button type="submit">Solicitar reembolso</button>
</form>