<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "txcompleta.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h2>Consulta de cuotas</h2>
  <p>En este paso haremos una consulta de cuotas para poder saber sus condiciones. Este paso es opcional, se utiliza solo en el caso de que quieras utilizar cuotas</p>


  <div class="TBK-content-left">
		<div>
			<h3>Petici칩n</h3>
			<p>Para hacer la consulta de cuotas debemos enviar los siguientes datos.</p>
		</div>
    <%= render_markdown_highlighting("transaccion_completa/partials/installments-mark1.md") %>
	</div>

  <div class="TBK-content-right">
    <%= render_markdown_highlighting("shared/resp_to_json.md") %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>Una hecha la consulta de cuotas, estos ser치n los datos de respuesta</p>
		</div>
	</div>

  <h2>Lo siguiente...</h2>

   <div class="TBK-content-left">
		<div class="aling-s-baseline">
			<h3>Confirmar transacci칩n</h3>
			<p>Para confirmar una transacci칩n debemos pasar los siguentes datos.</p>
		</div>
    <div class="TBK-card">
      <%= form_with url: transaccion_completa_commit_path, data: { remote: false }, method: :post do |form| %>
        <%= form.label :token, "Token"%>
        <%= form.text_field :token, value: @token, class: "TBK-input" %>

        <%= form.label :id_query_installments, "ID de consulta de cuotas (Opcional)"%>
        <%= form.text_field  :id_query_installments, value:  @resp["id_query_installments"], class: "TBK-input" %>
        <% if @resp["deferred_periods"]&[0]%>
          <%= form.label :deferred_period_index, "Indice de periodo diferido (Opcional)"%>
          <%= form.select(:deferred_period_index, @resp["deferred_periods"], {selected: @resp["deferred_periods"][0]}, {class: "TBK-input"})%>
        <% end %>
        <%= form.label :deferred_periods, "Periodo de gracia (Opcional)"%>
        <%= form.select(:deferred_periods, ["true", "false"], {selected: "false"}, {class: "TBK-input"}) %>

        <%= form.submit "CONFIRMAR TRANSACCION", class: "TBK-button" %>
      <% end %>
    </div>
	</div>

</div>