<h1>Patpass comercio Inscripción comenzada</h1>
<h2>Request</h2>
<%= @req %>

<h2> Response </h2>
<%= @resp.inspect %>

<h2>Continuar con siguiente paso del proceso</h2>
<form action="<%= @resp["url"] %>" method="post">
  <label for="token">Token: <%= @resp["token"] %></label>
  <input type="hidden" name="tokenComercio" value="<%= @resp["token"] %>">

  <button type="submit">Enviar token</button>
</form>
