<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "wepayplus.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h1>Confirmar Transacción diferida</h1>
  <p>
    En este paso debemos capturar la transacción para realmente capturar el dinero que 
    habia sido previamente reservado al hacer la transacción
  </p>

  <div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>
        Para capturar una transacción necesitaremos el Token, Orden de compra,
        Código de autorización y monto a capturar. Se hace de la siguiente manera.
      </p>
		</div>
		<%= render "/webpay_plus_deferred/partials/capture-mark1" %>
	</div>

   <div class="TBK-content-right">
    <%= render "/shared/resp_to_json" %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>
        Transbank contestará con lo siguiente. Debes guardar esta información,
        lo único que debes validar es que response_code sea igual a cero.
      </p>
		</div>
	</div>

  <h2>Otras utilidades</h2>
  <p>
    Luego de capturada la transacción puedes Reembolsar (reversar o anular) el pago dependiendo de ciertas condiciones comerciales.
    También puedes consultar el estado de la transacción hasta 7 días después de realizada.
  </p>

  <div class="TBK-content-left">
		<%= link_to "CONSULTAR ESTADO", webpay_plus_deferred_status_path(token: @token), class:"TBK-button j-self-start" %>
		<%= form_with url: "/webpay_plus_deferred/refund", data: { remote: false }, method: :post do |form| %>
			<%= form.hidden_field  :token, value: @token, class: "TBK-input" %>
			<%= form.label :amount, "Monto" %>
			<%= form.text_field    :amount, value:  @amount, class: "TBK-input" %>
			<%= form.submit "REEMBOLSAR", class: "TBK-button" %>
		<% end %>
	</div>
</div>