<!DOCTYPE html>
<html>
  <head>
    <title>TBK Examples</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="nav-bar ">
    <div class="nav-bar_container">
      <%= link_to root_path do %>
        <%= image_tag "tbk-nav.png", alt: "Go Home", class: "nav-image" %>
      <% end %>
     
      <div class="menu">
        <%= link_to "Inicio", root_path, {class: "menu-item"}  %>
        <%= link_to "Transbank Developers", 'http://www.transbankdevelopers.cl', {class: "menu-item", target:'blank'}  %>
      </div>
    </div>  
  </nav>
  <%= yield %>
  </body>
</html>
