<!DOCTYPE html>
<html>
  <head>
  <!-- Hotjar Tracking Code for Demo SDK Ruby -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3379468,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>    
    <title>TBK Examples</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="nav-bar ">
    <div class="nav-bar_container">
      <%= link_to root_path do %>
        <%= image_tag "tbk-nav.png", alt: "Go Home", class: "nav-image" %>
      <% end %>
     
      <div class="menu">
        <%= link_to "Inicio", root_path, {class: "menu-item"}  %>
        <%= link_to "Transbank Developers", 'http://www.transbankdevelopers.cl', {class: "menu-item", target:'blank'}  %>
      </div>
    </div>  
  </nav>
  <%= yield %>
  <div class="TBK-container">
    <%= link_to "VOLVER AL INICIO", root_path, class:"TBK-button TBK-button_blank my-40" %>
  </div>
  </body>
</html>
